@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Montserrat|Cardo|Open+Sans");

.alertify-notifier {
  color: white;
  text-align: center;
}

body {
  padding-top: 100px;
}

.navbar-collapse {
  background: linear-gradient(to right, #D6D3B2, #C7CAB1);
}

.navbar-default {
  background: linear-gradient(to right, #D6D3B2, #C7CAB1);
  font-size: 1.5em;
  height: 100px;
  border: none;
}

.nav-img {
  width: 100px;
}

.nav-img a, .nav-img-text {
  background: none !important;
}

.nav img {
  width: 100%;
  border: 4px solid white;
}

.nav-img-text {
  padding-left: 0px !important;
  margin-top: 12.5px;
}

.nav-img-text div {
  display: flex;
  flex-direction: column;
}

.nav-img-text span:first-of-type {
  font-size: 1em;
  color: white !important;
}

.nav-img-text span:last-of-type {
  font-size: .5em;
  color: white !important;
}

.nav-text {
  color: white !important;
  font-weight: 600;
  font-size: 1.25em;
}

.navbar-right li {
  margin-top: 25px;
}

.navbar-right li.active a {
  color: #728596 !important;
  border-radius: 5px;
}

.navbar-right li.inactive a:hover {
  background-color: none !important;
  color: #728596 !important;
  border-radius: 5px;
}

#About {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("images/about background.jpg");
  background-size: 100% 100%;
}

#Portfolio {
  background-color: white;
  background-size: cover;
  padding-bottom: 100px;
}

#About h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  padding-bottom: 7px;
  padding-top: 100px;
}

#About h3 {
  font-family: "Montserrat", serif;
  color: white;
  text-transform: uppercase;
  margin-top: 0px;
}

#Contact {
  padding-bottom: 50px;
  background-color: #D6D3B2;
  color: #728596;
}

#Contact p {
  color: white;
}

#Portfolio p {
  color: #303234;
  padding-bottom: 50px;
  margin-bottom: 0px;
}

#Portfolio .container {
  padding: 0px;
}

#Footer {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #728596;
  text-align: center;
  padding: 50px 0px;
}

#Footer p {
  margin: 0px;
}

.section-header {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-top: 50px;
  font-weight: 800;
}

.profile-text {
  color: white;
  padding-top: 25px;
  padding-bottom: 250px;
  font-size: 1.5em;
  font-weight: 500;
}

.center-block {
  float: none;
}

.portfolio {
  padding-top: 50px;
}

.portfolio p {
  margin-bottom: 0;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 200px;
  padding-left: 200px;
}

.projects div {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 300px;
  height: 300px;
  /*border: 2px solid #303234;*/
  background-color: #f2f2f2;
  overflow: hidden;
}

.projects div:hover {
  cursor: pointer;
  /*background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/Chalkulator.jpg');*/
  transition: 0.2s ease-in-out;
}

.projects div:hover img {
  transform: scale(1.2,1.2);
  transition: 0.3s ease-out;
  opacity: .9;
  z-index: 0;
}

.projects div:hover span {
  visibility: visible;
  z-index: 1;
}

.project-title {
  background: rgba(255, 255, 255, .8);
  font-family: "Montserrat", sans-serif;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 123px;
  padding: 15px;
  color: rgba(0, 0, 0, 1);
  visibility: hidden;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25em;
}

.projects img {
  width: 100%;
  height: 100%;
}

.quote-machine img{
  height: 125%;
  width: 250%;
  margin-top: 50px;
}

.twitch img {
  width: 150%;
  height: 90%;
}

.local-weather img {
  width: 170%;
  height: 125%;
  margin-left: 35px;
  margin-top: 90px;
}

.wikipedia-viewer img {
  height: 90%;
  width: 155%;
}

.calculator img {
  height: 80%;
  width: 120%;
}

.pomodoro img {
  width: 175%;
  height: 90%;
}

.contact {
  padding-left: 15px;
  padding-right: 15px;
}

.stay-connected {
  font-family: "Montserrat", serif;
  font-weight: 600;
}

label {
  font-size: 1.25em;
}

.fcc, .social-icon {
  display: inline-block;
}

.form-row {
  padding-top: 75px;
}

.submit, .submit:active:focus {
  background-color: #728596 !important;
  outline: none !important;
  border: none !important;
}

.submit:active {
  box-shadow: inset 0px 0px 5px #ccc;
}

@media (max-width: 1000px) {
  .no-mobile {
    display: none;
  }
}

@media (max-width: 1450px) and (min-width: 1101px) {
  .projects {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 1100px) {
  .projects {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 767px) {
  .navbar-right li:nth-child(2) {
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (min-width: 500px) {
  #About h1 {
    font-size: 4em;
    font-weight: 700;
  }

  #About h3 {
    font-size: 1.2em;
    font-weight: 400;
  }

  .section-header {
    font-size: 2.5em;
  }
  .fcc, .social-icon {
    width: 5%;
    height: 5%;
  }
  .stay-connected {
    font-size: 1.75em;
  }

  .contact-row {
    padding-top: 50px;
  }
}

@media (max-width: 499px) {
  #About h1 {
    font-size: 3em;
    font-weight: 700;
  }

  #About h3 {
    font-size: 1em;
    font-weight: 400;
  }

  .projects div {
    width: 200px;
    height: 200px;
  }

  .project-title {
    top: 73px;
  }

  .fcc, .social-icon {
    width: 15%;
    height: 15%;
  }
  .contact, .stay-connected {
    padding-top: 25px;
  }
  .section-header {
    font-size: 1.5em;
  }
  .stay-connected {
    font-size: 1.25em;
  }
}