@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Montserrat|Cardo|Open+Sans");

body {
  padding-top: 100px;
}

.navbar-default {
  background-image: url("https://c2.staticflickr.com/9/8461/29795041265_f98fe2dd38_o.jpg");
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 1px solid white;
  padding-top: 50px;
  font-size: 1.5em;
  margin: 0px;
}

.nav-text {
  color: white !important;
  font-weight: 600;
  font-size: 1.25em;
}

li.active a {
  color: #47494c !important;
}

li.inactive a:hover {
  background-color: #dbdde0 !important;
  color: grey !important;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#About, #Contact {
  background-image: url("https://c2.staticflickr.com/9/8461/29795041265_f98fe2dd38_o.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#Portfolio {
  background: linear-gradient(to bottom, rgba(242, 242, 242,0.7),rgba(230, 230, 230,0.7)), url("https://c2.staticflickr.com/9/8461/29795041265_f98fe2dd38_o.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#About h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 7px 0px;
}

#About h3 {
  font-family: "Montserrat", serif;
  color: white;
  text-transform: uppercase;
  margin-top: 0px;
}

#Portfolio, #Contact {
  padding-bottom: 50px;
}

#Portfolio p {
  color: #47494c;
}

.section-header {
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  color: white;
  padding-top: 50px;
  font-weight: 800;
}

.profile-text {
  color: white;
}

.portfolio {
  padding-top: 50px;
}

.project-image:hover img {
  cursor: pointer;
  opacity: .25;
  transition: opacity 0.2s ease-in-out;
}

.project-image:hover:after {
  top: 20%;
  opacity: 1;
  color: #ffffff;
  background: #e17e05;
  border: 3px solid #ffffff;
  cursor: pointer;
}

.project-image:after {
  font-family: "FontAwesome";
  content: "\f121";
  color: #fff;
  font-size: 48px;
  line-height: 80px;
  top: 70%;
  position: absolute;
  text-align: center;
  display: inline-block;
  transition: all .35s;
  opacity: 0;
  width: 86px;
  height: 86px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  background: transparent;
  border: 5px solid transparent;
}

.project-image .caption:hover {
  cursor: pointer;
}

.contact {
  padding-left: 15px;
  padding-right: 15px;
}

.stay-connected {
  font-family: "Montserrat", serif;
  font-weight: 600;
}

label {
  font-size: 1.25em;
}

.fcc, .social-icon {
  display: inline-block;
}

.form-row {
  padding-top: 50px;
}

@media (min-width: 1200px) {
  .profile-text {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media (min-width: 501px) and (max-width: 1199px) {
  .profile-text {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 500px) {
  #About h1 {
    font-size: 4em;
    font-weight: 700;
  }

  #About h3 {
    font-size: 1.2em;
    font-weight: 400;
  }

  .profile-text {
    padding-top: 25px;
    font-size: 1.75em;
    font-weight: 600;
  }

  .section-header {
    font-size: 2.5em;
  }
  .fcc, .social-icon {
    width: 10%;
    height: 10%;
  }
  .stay-connected {
    font-size: 1.75em;
  }

  .contact-row {
    padding-top: 50px;
  }
}

@media (max-width: 499px) {
  #About h1 {
    font-size: 3em;
    font-weight: 700;
  }

  #About h3 {
    font-size: 1em;
    font-weight: 400;
  }

  .profile-text {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
    font-weight: 600;
  }

  .fcc, .social-icon {
    width: 15%;
    height: 15%;
  }
  .contact, .stay-connected {
    padding-top: 25px;
  }
  .section-header {
    font-size: 1.5em;
  }
  .stay-connected {
    font-size: 1.25em;
  }
}